.database {
  height: 100%;
  width: min-content;
  min-width: 100%;

  .table-row-disabled {
    background-color: rgba(#f3f3f3, 0.8);
    cursor: not-allowed;
  }

  .context-menu {
    z-index: 2;
  }

  .context-menu-button {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 40px;
    right: 5px;
    top: 5px;
  }

  .sticky-top {
    position: sticky;
    left: 0;
    width: calc(100vw - 10px);

    // Necessary to position views contextmenu above draggable columns
    z-index: 1;

    .database-title {
      outline: none;
      font-size: xx-large;
      font-weight: bold;
      margin-top: 1rem;
      min-height: 45px;
    }

    .side-bar-button {
      padding: 0.4rem !important;
      background: transparent !important;
      color: gray;
      border: 0;
      :hover {
        color: black;
      }
    }

    .divider {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  .board-items-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: min-content;

    .column {
      width: 260px;
      min-width: 260px;
      margin: 0 8px;

      .column-title-container {
        padding: 1rem 0;

        .column-title {
          position: relative;
        }
      }

      .board-item {
        // For absolute positioning of context menu button
        position: relative;
      }

      .card {
        margin-bottom: 1rem;

        .card-description {
          overflow: hidden;
        }
      }

      .card-disabled {
        background-color: rgba(#f3f3f3, 0.8);
        cursor: not-allowed;

        .card-title-disabled {
          color: #aaa;
        }
      }

      .new-note-button {
        background-color: white !important;
      }
    }
  }
}

.react-contextmenu-database {
  .react-contextmenu {
    top: initial !important;
  }
}
.side-bar-item {
  font-weight: bold;
  color: darkgray;
  overflow: hidden;
}

.side-bar-header {
  font-weight: bold;
  color: black;
  overflow: hidden;
  margin-left: 1.49rem;
}

.side-bar-item:hover {
  color: black;
  margin-left: 0;
}

.side-bar-selected {
  font-weight: bold;
  color: black;
  overflow: hidden;
  width: max-content;
}

.side-bar-menu {
  width: 8rem;
}

.side-bar-add-button {
  font-weight: bold;
  color: darkgray;
}

.side-bar-add-button:hover {
  color: black;
  cursor: pointer;
}

.context-menu-button-database {
  display: inline;
  right: 0;
  z-index: 1;
  border: 0;
  color: darkgray;
  background-color: transparent;
  :hover {
    color: black;
    cursor: pointer;
  }
}

.space-right {
  margin-left: 1.49em;
}

.isDraggingSideBar {
  transform: translate(0, -11em);
}

.side-bar-item-disabled {
  color: lightgray;
  font-weight: bold;
  overflow: hidden;
}
.side-bar-disabled {
  cursor: not-allowed;
  pointer-events: none;
}
