.database {
  height: 100%;
  width: min-content;
  min-width: 100%;

  .table-database-note {
    outline: 1px solid red;
  }

  .context-menu {
    z-index: 2;
  }

  .context-menu-button {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 40px;
    right: 5px;
    top: 5px;
  }

  .sticky-top {
    position: sticky;
    left: 0;
    width: calc(100vw - 10px);

    .database-title {
      outline: none;
      font-size: xx-large;
      font-weight: bold;
      padding-left: 1rem;
      margin-top: 1rem;
      min-height: 45px;
    }

    .view-dropdown {
      padding-left: 1rem;
    }

    .divider {
      margin-top: 0.5rem;
    }
  }

  .board-items-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: min-content;

    .column {
      width: 260px;
      min-width: 260px;
      margin: 0 8px;

      .board-item {
        margin-bottom: 1rem;
        // For absolute positioning of context menu button
        position: relative;
      }
    }
  }
}
