.database {
  height: 100%;
  width: min-content;
  min-width: 100%;

  .table-database-note {
    outline: 1px solid red;
  }

  .context-menu {
    z-index: 2;
  }

  .context-menu-button {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 40px;
    right: 5px;
    top: 5px;
  }

  .sticky-top {
    position: sticky;
    left: 0;
    width: calc(100vw - 10px);

    .database-title {
      outline: none;
      font-size: xx-large;
      font-weight: bold;
      margin-top: 1rem;
      min-height: 45px;
    }

    .side-bar-button {
      padding: 0.4rem !important;
      background: transparent !important;
    }

    .divider {
      margin-top: 0.5rem;
    }
  }

  .board-items-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: min-content;

    .column {
      width: 260px;
      min-width: 260px;
      margin: 0 8px;

      .board-item {
        margin-bottom: 1rem;
        // For absolute positioning of context menu button
        position: relative;
      }
    }
  }
}

.react-contextmenu-database {
  .react-contextmenu {
    top: initial !important;
  }
}
.side-bar-item {
  font-weight: bold;
  color: darkgray;
  overflow: hidden;
  
}

.side-bar-header {
  font-weight: bold;
  color: black;
  overflow: hidden;
  margin-left: 20.8px;
  
}


.side-bar-item:hover {
  color: black;
  margin-left: 0;
  
}

.side-bar-selected {
  font-weight: bold;
  color: black;
  overflow: hidden;
  width: max-content;
}

.side-bar-menu {
  width: 8rem;
}

.side-bar-add-button {
  font-weight: bold;
  color: darkgray;
}

.side-bar-add-button:hover {
  color: black;
  cursor: pointer;
}

.context-menu-button-database {
  display: inline-block;
  position: relative;
  right: 0;
  z-index: 1;
  border: 0;
  bottom: 5.5px;
  color: darkgray;
  background-color: transparent;
  :hover{
    color: black;
    cursor: pointer;
  }
}

.space-right {
  margin-left: 20.8px;
}

