.noteblock {
  display: flex;
  margin: 0.5em 0;
  font-size: 20px;

  .noteblock-handle {
    cursor: grab;
    width: 10px;
  }

  .noteblock-handle:hover {
    background-color: grey;
  }

  .noteblock-text {
    min-height: 30px;
    margin: 0;
    width: calc(100% - 10px);
    outline: none;
  }
}

// For placeholder text inside contenteditable
[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
  font-size: medium;
}
