.Notepage-container {
  height: 100%;

  .Notepage {
    display: flex;
    flex-direction: column;
    height: 100%;

    .notepage-title {
      outline: none;
      font-size: xx-large;
      font-weight: bold;
      padding-left: 16px;
      margin: 1rem 0 10px 0;
      min-height: 45px;
    }

    .bottom-placeholder-div {
      flex: 1;
      font-size: medium;
      color: #aaa;

      .bottom-placeholder-div-text {
        padding-left: 10px;
      }
    }
    .bottom-placeholder-div:hover {
      cursor: pointer;
    }
  }
}
