.noteblock {
  display: flex;
  margin: 0.5em 0;
  font-size: 20px;

  .noteblock-handle-container {
    cursor: grab;
    width: 16px;

    .noteblock-handle {
      margin-right: 5px;
      border-radius: 5px;
      height: 100%;
    }

    i {
      margin-top: 7px;
      color: #aaa;
    }

    i::before {
      margin-right: 7px;
    }
  }

  .show-noteblock-handle {
    background-color: #ddd;
  }

  .noteblock-text {
    min-height: 30px;
    margin: 0;
    width: calc(100% - 10px);
    outline: none;
  }

  .draggingOver {
    background-color: #eee;
  }

  .isDragging {
    background-color: lightcyan;
  }
}

// For placeholder text inside contenteditable
[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
  font-size: medium;
}
