.Notepage-container {
  height: 100%;

  .Notepage {
    display: flex;
    flex-direction: column;
    height: 100%;

    .label-container {
      margin-top: 1rem;
      margin-left: 16px;
      display: inline-block;

      .share-button,
      .print-button {
        cursor: pointer;
      }
    }

    .notepage-title {
      outline: none;
      font-size: xx-large;
      font-weight: bold;
      padding-left: 16px;
      margin: 1rem 0 10px 0;
      min-height: 45px;
    }

    .bottom-placeholder-div {
      flex: 1;
      font-size: medium;
      color: #aaa;

      .bottom-placeholder-div-text {
        padding-left: 10px;
      }
    }
    .bottom-placeholder-div:hover {
      cursor: pointer;
    }

    .context-menu {
      z-index: 2;
    }
  }
}

.share-link-container {
  .note-share-button-copy {
    padding: 4px;
    margin-left: 3px;

    i::before {
      // margin: 0 !important;
      padding-left: 6px;
    }
  }
}
