.noteblock {
  display: flex;
  margin: 0.5em 0;
  font-size: 20px;

  .noteblock-handle {
    cursor: grab;
    width: 10px;
  }

  .noteblock-handle:hover {
    background-color: grey;
  }

  .noteblock-text {
    border: 1px solid blue; // TODO: To be removed after block logic has been handled fully
    min-height: 30px;
    margin: 0;
    width: calc(100% - 10px);
    outline: none;
  }

  // TODO: To be removed once edit mode toggle has been implemented fully
  .noteblock-text:focus {
    background-color: lightblue;
  }
}

.indent {
  margin-left: 50px;
  margin-top: -10px;
  margin-bottom: -10px;
}
